In [1]:
from jqdata import *
import numpy as np
import pandas as pd
import pickle
################################################取期权#########################################################    
#######起始日期
start_date_option = '2015-02-09'
######终止日期
end_date_option = '2023-02-24'
######标的https://docs.qq.com/sheet/DTGZqRE5UbWlla2FH?tab=eqwbzr
# 上证50ETF期权， 510050.XSHG,上市时间为2015-02-09，从2015-05-01开始取数据,实际上2017-01-03号才开始有数据data_list[410:]
# 沪深300ETF期权（上海交易所），510300.XSHG，上市时间为2019-12-23
# 沪深300ETF期权（深圳交易所），159919，上市时间为2019-12-23
# 沪深300股指期货期权，IO，看涨期权：IO合约月份-C-行权价格，如IO2302-C-3350，看跌期权：IO合约月份-P-行权价格
# 中证1000股指期货期权，MO

underlying_asset_name = '50ETF'
option_file_name = 'option_contracts_{}_({}to{}).pkl'.format(underlying_asset_name,
                                                             start_date_option,
                                                             end_date_option)
option_folder_name = 'contracts_list'
option_path = option_folder_name + '/' + option_file_name

with open (option_path,'rb') as op_f:
    option_data_raw = pickle.load(op_f)
# data_list = option_data_raw[410:-16]# 2017-01-03开始 到2022-02-01
data_list = option_data_raw[:-1]#2015-02-09 to 2023-02-24
########################取ETF数据########################################################
start_date_etf = '2015-01-01'
end_date_etf = '2023-02-24'

# 上证50etf 2005-03-23上市
etf_code = '510050.XSHG'
######采样频率/min
freq = 1

etf_folder_name = 'bar_data'
etf_file_name = 'etf{}_{}min({}to{}).pkl'.format(etf_code,freq,
                                                 start_date_etf,
                                                 end_date_etf)
etf_path = etf_folder_name + '/' + etf_file_name
with open (etf_path,'rb') as etf_f:
    etf_raw_data = pickle.load(etf_f)
etf_bar_list = etf_raw_data[26:]
# etf_bar_list = etf_raw_data[411:-15]
########################################取移仓换月数据###############################################
# IH_adjusted = pd.read_csv('my_data/IH_data.csv')
##################################################################################################

In [3]:
def get_one_code_data(one_code_arr, date):
    datetime = str(date)+' 15:00:00' # 取数据的时间
    bar_etf = get_bars('510050.XSHG', 1, unit='30m',
                      fields=('close'),
                      include_now=True, end_dt=datetime, fq_ref_date=None, df=False)#include_now = True取当天收盘，False收盘前半小时
    one_code_arr[2] = bar_etf[0][0]

    q_gamma = query(opt.OPT_RISK_INDICATOR).filter(opt.OPT_RISK_INDICATOR.code == one_code_arr[0],
                                                   opt.OPT_RISK_INDICATOR.date == date)
    gamma = opt.run_query(q_gamma)['gamma']
    if (len(gamma) != 0):
        one_code_arr[4] = gamma[0]
    else:
        one_code_arr[4] = np.NaN
        
    q_op = query(opt.OPT_DAILY_PRICE).filter(opt.OPT_DAILY_PRICE.code==one_code_arr[0],
                                         opt.OPT_DAILY_PRICE.date==date)
    open_interest = opt.run_query(q_op)['position']
    if (len(open_interest) != 0):
        one_code_arr[5] = open_interest[0]
    else:
        one_code_arr[5] = np.NaN

In [4]:


def calc_daily_NGE(code_daily):
    date = code_daily[0] # current date
    code_temp = code_daily[1]
    code_arr = np.insert(code_temp,[2,2,2,2],np.NaN, axis=1)

    if type(code_daily[1]) is np.ndarray:    
        for _, one_code_arr in enumerate(code_arr):
            get_one_code_data(one_code_arr, date)
        code_arr[:,3] = code_arr[:,2].astype('float64') / code_arr[:,1].astype('float64') #alpha
        # code_arr(code,strike,close,alpha,gamma,open_interest,expiration_date,call or put, adjusted?)
        call_option = code_arr[code_arr[:,7]=='c']
        put_option = code_arr[code_arr[:,7]=='p']

    #     deep out of money(DOTM) alpha<0.955
    #     out of the money(OTM) 0.955<alpha<0.985
    #     at the money(ATM) 0.985<alpha<1.015
    #     in the money(ITM) 1.015<alpha<1.045
    #     deep in the money(DITM) 1.045<alpha
        call_DOTM = call_option[call_option[:,3] < 0.955]
        put_DITM = put_option[put_option[:,3] < 0.955]

        call_DITM = call_option[call_option[:,3] > 1.045]
        put_DOTM = put_option[put_option[:,3] > 1.045]

        call_OTM = call_option[np.logical_and(call_option[:,3]>=0.955, call_option[:,3]<0.985)]
        put_ITM  = put_option[np.logical_and(put_option[:,3]>=0.955, put_option[:,3]<0.985)]

        call_ITM = call_option[np.logical_and(call_option[:,3]>=1.015, call_option[:,3]<1.045)]
        put_OTM  = put_option[np.logical_and(put_option[:,3]>=1.015, put_option[:,3]<1.045)]

        call_ATM = call_option[np.logical_and(call_option[:,3]>=0.985, call_option[:,3]<1.015)]
        put_ATM  = put_option[np.logical_and(put_option[:,3]>=0.985, put_option[:,3]<1.015)]

        NGE_all = call_option[:,4].astype('float64')@call_option[:,5].astype('float64') - \
                  put_option[:,4].astype('float64')@put_option[:,5].astype('float64') 

        NGE_DITM = call_DITM[:,4].astype('float64')@call_DITM[:,5].astype('float64') - \
                   put_DITM[:,4].astype('float64')@put_DITM[:,5].astype('float64') 

        NGE_DOTM = call_DOTM[:,4].astype('float64')@call_DOTM[:,5].astype('float64') - \
                   put_DOTM[:,4].astype('float64')@put_DOTM[:,5].astype('float64') 

        NGE_ITM = call_ITM[:,4].astype('float64')@call_ITM[:,5].astype('float64') - \
                  put_ITM[:,4].astype('float64')@put_ITM[:,5].astype('float64') 

        NGE_OTM = call_OTM[:,4].astype('float64')@call_OTM[:,5].astype('float64') - \
                  put_OTM[:,4].astype('float64')@put_OTM[:,5].astype('float64') 

        NGE_ATM = call_ATM[:,4].astype('float64')@call_ATM[:,5].astype('float64') - \
                  put_ATM[:,4].astype('float64')@put_ATM[:,5].astype('float64') 

        NGE = (date, NGE_all, NGE_DITM, NGE_ITM, NGE_ATM, NGE_OTM, NGE_DOTM)
    else:
        NGE = (date, np.NaN, np.NaN, np.NaN, np.NaN, np.NaN, np.NaN )
    return NGE

In [5]:
NGE_list = []
t=1
# code_daily = data_list[t]
# index_data_daily = index_data_raw[t]
day_num = len(data_list)
start = time.perf_counter()
for _, code_daily in enumerate(data_list):
#     try:
    NGE_list.append(calc_daily_NGE(code_daily))
#     except:
#         print('something wrong')
#         NGE_list.append(np.NaN)
    ###############进度条#################
    
    c = (t / day_num) * 100
    k = round(c)
    a = "*" * k
    b = "." * (100 - k)
    dur = time.perf_counter() - start
    t+=1
    print("\r{:^3.0f}%[{}->{}]{:.2f}s".format(c,a,b,dur),end = "")

100%[****************************************************************************************************->]8249.76s

In [7]:
NGE_df.to_csv('NGE_df.csv')

In [8]:
pd.read_csv('NGE_df.csv')

      Unnamed: 0        date     ...         NGE_OTM    NGE_DOTM
0              0  2015-02-09     ...         625.674   -1054.370
1              1  2015-02-10     ...        -161.985   -2593.738
2              2  2015-02-11     ...         955.391   -4277.566
3              3  2015-02-12     ...        1630.657   -3505.871
4              4  2015-02-13     ...        1062.347   -6228.481
5              5  2015-02-16     ...        1819.283   -6350.056
6              6  2015-02-17     ...        7392.923   -9810.658
7              7  2015-02-25     ...         440.495   -2776.742
8              8  2015-02-26     ...        -147.096   -8803.561
9              9  2015-02-27     ...        2321.667  -10543.093
10            10  2015-03-02     ...        3266.980  -11292.125
11            11  2015-03-03     ...        7012.791   -1540.908
12            12  2015-03-04     ...        8497.571    -530.300
13            13  2015-03-05     ...        2918.351    9626.580
14            14  2015-03-06     ...       -3403.684   10359.767
15            15  2015-03-09     ...        8760.509   -2193.720
16            16  2015-03-10     ...       12919.380     -90.798
17            17  2015-03-11     ...        2738.097    1632.376
18            18  2015-03-12     ...        9267.330  -10253.569
19            19  2015-03-13     ...       10458.666   -9342.434
20            20  2015-03-16     ...        8339.222  -13049.639
21            21  2015-03-17     ...       -5692.860   -9578.957
22            22  2015-03-18     ...       -7975.175   -8982.301
23            23  2015-03-19     ...         882.672   -9550.643
24            24  2015-03-20     ...        -683.019   -9731.677
25            25  2015-03-23     ...       -1437.442  -10514.581
26            26  2015-03-24     ...        2302.961   -8251.531
27            27  2015-03-25     ...             NaN         NaN
28            28  2015-03-26     ...        1213.043   -6236.557
29            29  2015-03-27     ...        1254.777   -5897.801
...          ...         ...     ...             ...         ...
1925        1925  2023-01-06     ...     -197535.279 -324057.393
1926        1926  2023-01-09     ...     -466354.913 -255431.161
1927        1927  2023-01-10     ...     -569373.571 -268008.751
1928        1928  2023-01-11     ...     -484869.761 -214084.830
1929        1929  2023-01-12     ...     -429445.211 -139197.036
1930        1930  2023-01-13     ...     -413071.727 -300076.129
1931        1931  2023-01-16     ...     -150704.293 -346158.229
1932        1932  2023-01-17     ...      278140.949 -277076.568
1933        1933  2023-01-18     ...     -114336.068  -78899.027
1934        1934  2023-01-19     ...      285526.332 -190482.924
1935        1935  2023-01-20     ...      172173.789  -75093.664
1936        1936  2023-01-30     ...             NaN         NaN
1937        1937  2023-01-31     ...      199149.388   77092.733
1938        1938  2023-02-01     ...      429630.287  -39809.281
1939        1939  2023-02-02     ...      371365.331  -28007.868
1940        1940  2023-02-03     ...      701742.234  131730.183
1941        1941  2023-02-06     ...      732362.003  363888.992
1942        1942  2023-02-07     ...      460364.647  357236.094
1943        1943  2023-02-08     ...      764914.143  273336.393
1944        1944  2023-02-09     ...       84265.676  503597.696
1945        1945  2023-02-10     ...      674412.199  377704.066
1946        1946  2023-02-13     ...      570322.886   -2840.263
1947        1947  2023-02-14     ...      781501.277   -1068.241
1948        1948  2023-02-15     ...      -67458.620  260375.395
1949        1949  2023-02-16     ...      480403.080  209186.326
1950        1950  2023-02-17     ...      211381.803  324576.390
1951        1951  2023-02-20     ...      157223.493   28523.094
1952        1952  2023-02-21     ...     -277726.778   86160.507
1953        1953  2023-02-22     ...             NaN         NaN
1954        1954  2023-02-23     ...      246979.996   -1332.010

[1955 rows x 8 columns]